.yeah {
  width: 70%;
  background-color: rgba(236, 227, 227, 0.7);
  margin: 0 auto;
  height: 500px;
  border: 5px white solid;
  margin-top: 130px;
}

.likeabutton {
    text-decoration: none; font: menu;
    display: inline-block; padding: 2px 8px;
    background: ButtonFace; color: ButtonText;
    border-style: solid; border-width: 2px;
    border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.likeabutton:active {
    border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

.nav {
  text-align: center;
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: -65px;
}


button {
  margin: 0px 100px 0px 400px;
}

p {
  text-align: center;
  margin-top: 220px;
  font-size: 60px;
}

body {
  background-color: pink;
}
