.landingBody {
  width: 70%;
  background-color: rgba(236, 227, 227, 0.7);
  margin: 0 auto;
  height: 500px;
  border: 5px white solid;
  margin-top: 130px;
}

.hoho {
  width: 70%;
  background-color: rgba(236, 227, 227, 0.7);
  margin: 0 auto;
  height: 500px;
  border: 5px white solid;
  margin-top: 130px;
}

#profile {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 5px solid black;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  background-color: rgba(236, 227, 227, 0.7);
}

img {
  height: 40px;
  width: 40px;
}

a {
    text-decoration: none; font: menu;
    display: inline-block; padding: 2px 8px;
    background: ButtonFace; color: ButtonText;
    border-style: solid; border-width: 2px;
    border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

a:active {
    border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

.nav {
  text-align: center;
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: -65px;
}


button {
  margin: 0px 100px 0px 400px;
  padding-bottom: 3px;
}

p {
  text-align: center;
  margin-top: 220px;
  font-size: 60px;
}

body {
  background-color: pink;
}

h1 {
  width: 100%;
  font-family: Helvetica;
  text-align: center;
}

input {
  display: block;
  font-size: 15px;
}

.bubbleChart {
  width: 700px;
  margin-top: 20px;
}

.butterino{
  position: absolute;
  left: -190px;
  top:115px;
  width: 200px;
}

.buttoninput {
  width: 200px;
}
