<html>
<head>
	<title></title>
	<link ref="stylesheet" href="main.css">

</head>
<body>
	<form>

		<input type="text" placeholder="create user name" ng-model="#"/>
		<input type="text" placeholder="first name" ng-model="#"/>
		<input type="text" placeholder="last name" ng-model="#"/>
		<input type="text" placeholder="email" ng-model="#"/>
		<input type="password" placeholder="password" ng-model="#"/>
		<input type="password" placeholder="newpassword" ng-model="#"/>
		<button>Submit</button>
	</form>

	<script src="script.js"></script>

</body>
</html>
