<div>
	<ul>
		<li><a href="#/">My Calendars</a></li>
		<li><a onclick = "getCalendata()">Create New</a></li>
		<li><a onclick="changeFrame()">Import Calendar</button>
		<li><a href="dataview.html">Data Bubbles</a></li>
		<li><a href="#/">Create New</a></li>
		<li><a href="#/">Import Calendar</a></li>
	</ul>


<!-- <button id="btnCreateEvents" class="btn btn-primary" onclick="changeFrame()">Create Events</button> -->
<iframe id = "calendar" src = "" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
<div id="divifm">
</div>
<div id="profile"></div>
