<ul class="cb-slideshow">
      <li><span>Image 01</span><div class = "movetext"><h3>Evolute</h3></div></li>
      <li><span>Image 02</span><div class = "movetext"><h3>Evolute</h3></div></li>
      <li><span>Image 03</span><div class = "movetext"><h3>Evolute</h3></div></li>
      <li><span>Image 04</span><div class = "movetext"><h3>Evolute</h3></div></li>
      <li><span>Image 05</span><div class = "movetext"><h3>Evolute</h3></div></li>
      <li><span>Image 06</span><div class = "movetext"><h3>Evolute</h3></div></li>
  </ul>
  <div class="nav">
    <input type="button" class ="btn" id ="absolute" value="Google+" onclick="login()" />

    <div id="profile"></div>
    <div id="home"></div>
  </div>

