<ul class="cb-slideshow">
      <li><span>Image 01</span><div class = "movetext"><h3>Clarity</h3></div></li>
      <li><span>Image 02</span><div class = "movetext"><h3>Organization</h3></div></li>
      <li><span>Image 03</span><div class = "movetext"><h3>Cleanliness</h3></div></li>
      <li><span>Image 04</span><div class = "movetext"><h3>Distinctness</h3></div></li>
      <li><span>Image 05</span><div class = "movetext"><h3>Saliance</h3></div></li>
      <li><span>Image 06</span><div class = "movetext"><h3>Accuracy</h3></div></li>
  </ul>
  <div class = "nav">
    <!-- <a class = "btn" href="#/createaccount">Register</a>
    <a class = "btn" href="#/loginview">Login</a> -->
    <input type="button"  class = "btn" id = "absolute" value="Google+" onclick="login()" />
    <input type="button" class = "btn" id = "absolut" value="Logout" onclick="logout()" />
    <div id="profile"></div>
    <div id="home"></div>
  </div>
  <!-- <div class="landingBody">
    <p>Woah, data!</p>
  </div> -->
